body {
  background-image: url(imagens/bg_lousa.jpg);
  margin: 0;
  padding: 0;
  text-align: center;
}

.row0 {
  padding-top: 1em;
  text-align: center;
  color: white;
}

.row2 {
  height: 8em;
}

.row3 {
  background: rgba(175, 175, 175, 0);
  text-align: center;
  height: 4em;
  margin-top: 1em;
}

.col1 {
  height: 20em;
  background: url(imagens/forca2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1a {
  height: 20em;
  background: url(imagens/forca2_cabeca.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1b {
  height: 20em;
  background: url(imagens/forca2_corpo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1c {
  height: 20em;
  background: url(imagens/forca2_braco.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1d {
  height: 20em;
  background: url(imagens/forca2_braco2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1e {
  height: 20em;
  background: url(imagens/forca2_perna.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1f {
  height: 20em;
  background-image: url(imagens/forca2_game_over.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col1g {
  height: 20em;
  background: url(imagens/forca_vitoria_1.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col2g {
  height: 20em;
  background: url(imagens/forca_vitoria_2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col3g {
  height: 20em;
  background: url(imagens/forca_vitoria_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.col2-1 {
  padding-top: 1em;
  text-align: center;
}
.col2-1 .btn {
  margin: 0.2rem 0;
}

#ir a {
  color: white;
  text-decoration: none;
}

#reiniciar a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .container {
    width: 100% !important;
  }
  .row3 {
    margin-top: 0;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }

  .col1,
  .col1a,
  .col1b,
  .col1c,
  .col1d,
  .col1e,
  .col1f,
  .col1g,
  .col2g,
  .col3g {
    max-height: 200px;
  }
}
